/* Design tokens */
$color-black: #000000;
$color-orange: #f6821f;
$color-text: #5e5e5e;
$color-white: #ffffff;
$color-green: #00a650;
$color-light-gray: #f8f8f8;
$color-gray: #efefef;
$color-dark-gray: #d9d9d9;

$font-space-grotesk: "Space Grotesk", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", sans-serif;

.about_page {
  /* Hero Section */
  .hero {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff7f0 0%,
      #f3fff9 49.62%,
      #fff 100%
    );
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    height: 110vh;
    padding: 5rem;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      padding: 2rem;
      height: 40vh;
    }

    @media screen and (max-width: 590px) {
      flex-direction: column;
      height: 40vh;
      padding: 1rem;
    }
  }

  .heroText {
    flex: 1;
    width: 677px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: flex-start;

    @media screen and (max-width: 590px) {
      width: 100%;
    }

    @media screen and (max-width: 590px) {
      width: 100%;
      gap: 1rem;
      justify-content: flex-end;
    }
  }

  .heroTitle {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    color: var(--color-black);
    margin: 0;

    @media screen and (max-width: 590px) {
      font-size: 1.5rem;
    }
  }

  .heroTitle span {
    display: block;
  }

  .heroDescription {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    color: var(--color-text);
    margin: 0;
    // height: 129px;
    width: 100%;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      max-width: 70%;
    }

    @media screen and (max-width: 590px) {
      font-size: 1rem;
    }
  }

  .heroButtons {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 590px) {
      width: 100%;
      margin: 1rem 0;
    }
  }

  .heroImage {
    flex: 1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #ffbc81;
      animation: scaling 3s linear forwards infinite;

      @keyframes scaling {
        0% {
          transform: scale(0);
        }
        50% {
          opacity: 0.5;
        }
        100% {
          transform: scale(1.2);
          opacity: 0;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 2rem;
      left: 2rem;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      border: 0.1rem solid #f6821f;
    }

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      display: none;
    }

    @media screen and (max-width: 590px) {
      display: none;
    }
  }

  .heroImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  }

  /* Buttons */
  .primaryButton {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    font-family: var(--font-space-grotesk);
    transition: opacity 0.3s ease;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background: linear-gradient(
        130deg,
        #f6831f34 5%,
        #ffffff32 5%,
        #f6831f34 90%
      );
      //   opacity: 0;
      pointer-events: none;
      transition: 1s ease;
    }
  }

  .primaryButton:hover {
    opacity: 0.9;
    animation: bounce 0.3s ease-in-out;

    @keyframes bounce {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .primaryButton:hover::after {
    background: linear-gradient(
      130deg,
      #f6831f34 5%,
      #ffffff32 90%,
      #f6831f34 5%
    );
  }

  .secondaryButton {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    padding: 15px 30px;
    border-radius: 50px;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    font-family: var(--font-space-grotesk);
    transition: opacity 0.3s ease;
  }

  .secondaryButton:hover {
    opacity: 0.8;
  }

  /* Mission Section */
  .missionSection {
    padding: 3rem 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
    @media screen and (max-width: 1200px) and (min-width: 600px) {
      padding: 3rem;
    }

    @media screen and (max-width: 590px) {
      padding: 1rem;
      display: block;
    }
  }

  .missionContent {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      flex-direction: column;
    }

    @media screen and (max-width: 590px) {
      gap: 1rem;
      flex-direction: column;
    }
  }

  .missionImage {
    width: 592px;
    height: 490px;
    background-color: $color-dark-gray;
    border-radius: 20px;
    flex-shrink: 0;
    // overflow: hidden;
    position: relative;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      width: 100%;
    }

    @media screen and (max-width: 590px) {
      width: 100%;
      height: 250px;
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 45%;
    //   left: 45%;
    //   width: 90%;
    //   height: 90%;
    //   background: #ffdec2;
    //   z-index: -1;
    //   transform: translate(-45%, -45%) rotate(45deg);
    //   border-radius: 1rem;
    // }

    &::after {
      content: "";
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      // background: #ffdec2;
      border-radius: 1rem;
      border: 0.1rem solid #f6821f;
      animation: anime 6s ease-in-out infinite;

      @keyframes anime {
        0% {
          transform: translate(0, 0) rotate(0deg);
        }
        50% {
          transform: translate(1rem, 1rem) rotate(10deg);
        }
        100% {
          transform: translate(0, 0) rotate(0deg);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 1rem;
      object-fit: cover;
    }
  }

  .missionText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    flex: 1;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      width: 100%;
    }
  }

  .sectionLabel {
    font-size: 1rem;
    font-weight: 500;
    color: $color-green;
    margin: 0;
    white-space: nowrap;
  }

  .sectionTitle {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;
    margin: 0;
    //   line-height: 1.3;

    @media screen and (max-width: 590px) {
      font-size: 1.5rem;
    }
  }

  .sectionDescription {
    font-size: 1rem;
    font-weight: 400;
    color: $color-text;
    margin: 0;
    max-width: 40rem;
    //   line-height: 1.5;

    @media screen and (max-width: 590px) {
      font-size: 1rem;
    }
  }

  /* Values Section */
  .valuesSection {
    background-color: $color-white;
    padding: 3rem 5rem;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      padding: 3rem;
    }

    @media screen and (max-width: 590px) {
      padding: 1rem;
    }
  }

  .sectionTitleCenter {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 590px) {
      font-size: 1.5rem;
    }
  }

  .valuesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      gap: 1rem;
    }

    @media screen and (max-width: 590px) {
      display: block;
    }
  }

  .valueCard {
    background-color: $color-white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0px 7px 33.6px 5px rgba(154, 154, 154, 0.1);
    position: relative;
    text-align: left;
    overflow: hidden;

    @media screen and (max-width: 1200px) and (min-width: 600px) {
      padding: 1rem;
    }

    @media screen and (max-width: 590px) {
      padding: 1rem;
      border-radius: 0.7rem;
      margin: 1rem 0;
    }

    &:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }

    &:hover .valueIcon {
      transform: scale(1.1) rotate(30deg);
      transition: transform 0.3s ease;
    }
  }

  .valueTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-black;
    white-space: nowrap;
  }

  .valueDescription {
    font-size: 1rem;
    font-weight: 400;
    color: $color-text;
    margin: 0.5rem 0;
  }

  .valueIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 107px;
    height: 84.745px;
  }

  .valueIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
