/* Design tokens */
$color-black: #000000;
$color-text: #5e5e5e;
$color-gray: #efefef;
$color-light-border: #aaa;
$color-orange: #f6821f;
$font-space-grotesk: "Space Grotesk", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", sans-serif;

/* Footer */
.footer {
  background-color: $color-gray;
  padding: 3rem 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-black;
  margin: 0;
  white-space: nowrap;
}

.footerSubtitle {
  font-size: 1rem;
  font-weight: 400;
  color: $color-text;
  margin: 0;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1rem 0;
}

.footerLinkTitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-black;
  margin: 0;
}

.footerLinkItems {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.footerLink {
  font-size: 1rem;
  font-weight: 400;
  color: $color-text;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  &:not(:first-child) {
    border-left: 0.1rem solid $color-orange;
    padding-left: 1rem;
  }

  &:hover {
    text-decoration: underline $color-orange;
    color: $color-orange;
  }
}

.separator {
  width: 0;
  height: 11px;
  margin: 0 5px;
}

.footerCopyright {
  font-size: 12px;
  color: $color-light-border;
  text-align: center;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    flex-direction: column;
    gap: 30px;
  }

  .footerContent {
    flex-direction: column;
    gap: 30px;
  }
}
