/* Design tokens */
$color-white: #ffffff;
$color-black: #000000;
$color-text: #5e5e5e;
$color-orange: #f6821f;
$font-space-grotesk: "Space Grotesk", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", sans-serif;

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 2%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  padding: 10px 9px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  .logoImage {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logoText {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-black;
    white-space: nowrap;
    margin: 0;
  }

  .navLinks {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    margin: 0 1rem;
    padding: 0;
  }

  .navItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    // padding: 0.5rem;
    cursor: pointer;
    list-style: none;
  }

  .navLabel {
    font-size: 1rem;
    font-weight: 500;
    color: $color-text;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    padding: 0.7rem 0;

    &::before {
      position: absolute;
      content: "";
      height: 0.3rem;
      width: 100%;
      border-radius: 2px;
      background-color: transparent;
      transition: background-color 0.3s ease;
      bottom: 0;
      left: 0;
    }

    &.active {
      color: $color-black;
    }

    &.active::before {
      background-color: $color-orange;
    }
  }

  /* Responsive Design */
  @media (max-width: 1200px) {
    .nav {
      padding: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    .nav {
      position: fixed;
    }
  }
}
